.sidebar{
    flex: 0.35;
    background-color: rgb(212, 206, 206);
}

.sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sidebar_searchContainer > input{
    border:none;
    margin-left: 10px;
}
.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    width: 300%;
    height: 50px;
    margin-left: 110px;
    

}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
    position: relative;
    bottom: -240px;
    /* background-color: rgb(32, 31, 31); */

}

.sidebar_headerRight{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 20px !important;
}
.sidebar_chats{
    color: black;
}