.sidebar{
    flex: 0.35;
    background-image: url('https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.2e16d0ba.fill-1422x800.jpg');
}




.sidebar_searchContainer > input{
    border:none;
    margin-left: 5px;
}
.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 50px;
    
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    position: relative;
    bottom: -1px;
    background-image: url('https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.2e16d0ba.fill-1422x800.jpg');

}

.sidebar_headerRight{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 20px !important;
}
.sidebar_chats{
    color: black;
}
.mov{
    height: 40px;
    width: 350px;
}